<form class="form form-login">
    <h2>Iniciar sesi칩n</h2>
    <div>
        <label for="inputEmail">Ingresa tu email:</label>
        <input type="email" placeholder="Email" id="inputEmail" required>
    </div>
    <div>
        <label for="inputPassword">Ingresa tu contrase침a:</label>
        <input type="password" placeholder="Contrase침a" id="inputPassword">
    </div>
    <button class="btn formBtn">Iniciar sesi칩n</button>
</form>

<script src="/js/login.js"></script>