<form class="form form-register">
    <h2>Registrarse</h2>
    <div>
        <label for="inputEmail">Ingresa tu email:</label>
        <input type="email" placeholder="Email" id="inputEmail" required>
    </div>
    <div>
        <label for="inputUsername">Ingresa tu usuario:</label>
        <input type="text" placeholder="Usuario" id="inputUsername" required>
    </div>
    <div>
        <label for="inputPassword">Ingresa tu contraseña:</label>
        <input type="password" placeholder="Contraseña" id="inputPassword" required>
    </div>
    <button class="btn formBtn ">Registrarse</button>
</form>

<script src="./js/register.js"></script>